.pg-background {
    background-color: #f0f0f0;
}
.gray-border {
    border: 5px solid #e6e6e6;
}

.mybigrounded-circle {
    width: 105px;
    height: 105px;
    border: solid;
    border-width: 5px;
    color: white;
}
.mysmrounded-circle {
    width: 18px;
    height: 18px;
}

.circle-red {
  background-color: #e6563b;
}
.circle-yel {
    background-color: #eb9d3a;
}
.circle-grn {
    background-color: #7cb06c;
}
.circle-blu {
    background-color: #00aba9;
}

