.pg-background {
    background-color: #f0f0f0;
}
.gray-border {
    border: 5px solid #e6e6e6;
}
.logo {
    height: 75px;
    width: 75px;
}

.mybigrounded-circle {
    width: 105px;
    height: 105px;
    border: 5px solid;
    color: white;
    font-weight: bolder;
    margin: 1em;

}

.circle-red {
  background-color: #e6563b;
   font-family: 'Anton', sans-serif;
   font-weight: bolder;
}
.circle-yel {
    background-color: #eb9d3a;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}
.circle-grn {
    background-color: #7cb06c;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}
.circle-blu {
    background-color: #00aba9;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}

